html,
body {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

#secao {
  align-items: center;
  text-align: center;
}

body {
  background: rgb(52, 58, 64);
  background: url(imagens/imagem-de-fundo.jpg);
}

header ul li:hover {
  color: #f2f2f2;
}


header nav .navbar-brand {
  font-size: 1.75em;
}

header nav #nav-principal ul li {
  font-size: 1.25em;
}

header nav #nav-principal ul li .btn {
  font-size: 1.18em;
}

#teste {
  font-size: 3em;
  font-weight: bold;
}


@media (max-width: 991.98px) {

  .row {
     flex-direction: column;
  }

  #teste {
    font-size: 3rem;
  }
  
  section {
    margin-top: 10%;
  }

  header nav {
    margin-right: 13px;
    margin-left: 13px;
  }

  section #imagem-eu {
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    height: 370px;
    margin-top: 2em;
  } 

  html, body {
    overflow-y: auto;
  }

}



@media (min-width: 992px) and (max-width: 1425.98px) {
  
  #teste {
    font-size: 3rem;
  }

  section {
    margin-top: 17%;
  }

  
  header nav {
    margin-right: 12px;
    margin-left: 2px;
  }

  html, body {
    overflow-y: hidden;
  }  

}

@media (min-width: 1425px) {
  #teste {
    font-size: 4rem;
  }

  section {
    margin-top: 10%;
    margin-left: 8em;
  }


  
  header nav {
    margin-right: 15px;
    margin-left: 15px;
  }

  section #imagem-eu img {
    width: 30em;
    margin-right: 10px;
    margin-bottom: 50%;
} 
  html, body {
    overflow-y: hidden;
  }  
}


@keyframes typing {
  from {
    clip-path: inset(0 100% 0 0);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}

#typing {
  animation: typing 4s steps(400, end) infinite alternate;
}